<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YOKO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YOKO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YOKO.Properties.Settings.GoumaoDBConnectionString"
            connectionString="Data Source=DESKTOP-5ON2GLQ;Initial Catalog=GoumaoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="YOKO.Properties.Settings.GoumaoDBDataSet" connectionString="Data Source=DESKTOP-CUTEK3A;Initial Catalog=GoumaoDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <YOKO.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </YOKO.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <YOKO.Properties.Settings>
            <setting name="iva" serializeAs="String">
                <value>16.00</value>
            </setting>
            <setting name="CheckDolar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Dolar" serializeAs="String">
                <value>21.59</value>
            </setting>
            <setting name="ShowDolar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="includeIVA" serializeAs="String">
                <value>True</value>
            </setting>
        </YOKO.Properties.Settings>
    </userSettings>
</configuration>